@import "src/assets/scss/variables";

.popup {
  position: fixed;
  z-index:-100;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: $dark__navBg;
  opacity: 0;
  transform: translate(-50%, -50%) ;
  transition: opacity 0.5s ;

  &.active {
    z-index: 100;
    opacity: 1;
  }
  &>*:first-child{
    transform: scale(0);
    transition: transform .3s ease;
  }
  &.active>*:first-child{
    transform: scale(1);
  }

  &__close {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__close:before {
    content: '';
    position: fixed;
    background: $dark__bg;
    width: 150vw;
    height: 150vh;
    transform: translate(-50vw, -50vh);
    cursor: pointer;
  }
}