@import "src/assets/scss/variables";

.navbar {
  position: relative;
  z-index: 1;
  background: linear-gradient(180deg, $dark__navBg 70%, rgba(29, 29, 29, 0.05));
  box-shadow: 0 0 10px rgba(29, 29, 29, 0.05);
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;

  &__logo {
    font-style: oblique;
    font-size: 24px;
    letter-spacing: 0.08em;
    background: url("../../assets/img/img.png");
    background-size: contain;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    transition: all .6s;
    &:hover{
      background: url("../../assets/img/img.png") bottom no-repeat;
      background-clip: text;
      background-size: cover;
    }

    &:before {
      height: 2px;
    }
  }

  &__link {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 16px;
    }
  }
}
